.header  {
  font-family: monospace;
  background: papayawhip;
}
.ul-1{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.ul-2{
  display: flex;
  flex-direction: row;
  gap: 20px;
}


.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  display: flex;
  align-self: center;
  margin-left: 200px;
  margin-right: 200px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
